h1 {
  text-align: center;
  color: blue;
}

p {
  text-align: center;
  color: gray;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.container div {
  text-align: center;
  color: red;
  font-size: 1.25rem;
  border: 1px solid black;
}
